# This is a sample of the private/secret environment variables
# Copy this file and rename to .env before adding actual values

# IOS related secrets. IOS_KEYCHAIN_PASSWORD will be the same password used to encrypt files with GPG
IOS_KEYCHAIN_PASSWORD=XXXXX12345
IOS_DIST_CERT_P12_PASSWORD=XXXXX12345
IOS_DEV_CERT_P12_PASSWORD=XXXXX12345
# The account used to upload the IPA
IOS_UPLOAD_USER=XXXXX@XXXXXX
# This is an app specific password linked to the user account above 
IOS_UPLOAD_PASSWORD=XXXXX


# Android related secrets
ANDROID_KEYSTORE_BASE64=XXXXXXXXXXXXXXXXXXXX
ANDROID_KEYSTORE_PASSWORD=XXXXX12345
ANDROID_ALIAS_PASSWORD=XXXXX12345
